{% extends "base.html" %}

{% block content %}
<main class="main main--about" style="max-width: 700px; margin: 0 auto; line-height: 1; font-size: 1.1rem">
    <h1>About Me</h1>
    <p>
        I am driven to craft innovative solutions for complex challenges and leverage technology to create meaningful impact in industries.
    </p>

    <h2>Professional Experience</h2>
    <h3>Test Engineer at MiTAC Information System Corp</h3>
    <p style="margin-left: 20px;">
        Validated over 100 server and switch racks while building a Flask-based web app that automated material workorder processing.
    </p>

    <h3>Data Scientist at Zespri International</h3>
    <p style="margin-left: 20px;">
        Engineered a data pipeline for analyzing kiwifruit drop across Italian orchards, enhancing agricultural decision-making.
    </p>

    <h3>Data Analyst Intern at Qualcomm (formerly PoLTE Co.)</h3>
    <p style="margin-left: 20px;">
        Conducted advanced geospatial analysis, directly contributing to Qualcomm's acquisition of the company.
    </p>

</main>
{% endblock %}
