{% extends "base.html" %}
{% block content %}

<main class="main main--contact">
    <dl>
        <div class="contact">
            <dt> Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:joshualeung@gatech.edu">
                    joshualeung@gatech.edu
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt> Linkedin:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="http://www.linkedin.com/in/jjoshualleung">
                    linkedin.com/in/jjoshualleung
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt> GitHub:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/jjoshualleung?tab=repositories">
                    github.com/jjoshualleung
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}