{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="site-density-analysis"
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>
                        <h3> Internship Contributions</h3>

                        <ul>
                            <li>Conducted advanced analysis of billions of cellular network data to validate 5G location-tracking reliability.</li>
                            <li>Developed insights into cell network models, highlighting carrier performance and coverage gaps using Python, Pandas, and GeoPandas.</li>
                            <li>Applied H3 indexing to evaluate sector density, identifying T-Mobile as the highest-density carrier in Minnesota with 3.8 sectors per km².</li>
                            <li>Used PySpark SQL to process and manage large-scale datasets for effective geospatial analysis.</li>
                        </ul>
                        <h3>Site Density Analysis Findings</h3>

                        <ul>
                            <li>Verizon: 98% hexagonal coverage across Minnesota</li>
                            <li>AT&T: Most uniform sector distribution</li>
                            <li>T-Mobile: Highest density in rural areas</li>
                            <li>Sprint: Lowest overall coverage</li>
                        </ul>

                    <p>
                        This project analyzes cellular network density using H3 geospatial partitioning.
                        It focuses on evaluating network quality across Minnesota, with a detailed analysis
                        of Minneapolis and St. Paul.
                    </p>
                    <p>
                        Using Python, PySpark, and MLflow, the project processes large-scale geospatial data
                        to generate insights into sector density, geographical coverage, and carrier performance.
                        This helps identify coverage gaps and optimize network infrastructure.
                    </p>
                    </article>
                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">PySpark</li>
                            <li class="technology-list__item">H3</li>
                        </ul>
                    </article>

                    <a class="cta" href="{{ project['prod'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.svg') }}">
                        View in production
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}